body {
	background-color: rgba(90, 85, 66, 0.3);
} 

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: purple;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 90px 200px 200px 200px; 
	margin-bottom: 10px;
	border-right: solid grey 10px;
} 

.eyes {
	display: flex;
		
}

.eyes:hover {
	transform: translate(20px, 18px);;
	transition: all 1s;

}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 

} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px;
	border-right: solid grey 3px;
} 

.left_arm { 
	margin-right: 10px;
	transition: all 3s:; 
} 

.left_arm:hover {
	-webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(720deg) ;
    transition: all 1s;
}

.right_arm { 
	margin-left: 10px; 
} 

.right_arm:hover {
	-webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-720deg);
    transition: all 1s;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 120px;
	justify-content: center;
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	flex-direction: row;
	display: flex;
	border-bottom: dotted beige 10px;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px;
	border-right: dotted grey 3px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    transition: all .5s;
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    transition: all .5s;

}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: beige;


} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





